.pt40 { 
	padding-top: 40px; 
}
.pb40 { 
	padding-bottom: 40px; 
}
.page-header { 
	margin-left: 10px;
	margin-right: 10px;
}

.puntos-9k { background-color: rgb(0, 255, 0) }
.puntos-8k { background-color: rgb(138, 255, 138); }
.puntos-7k { background-color: rgb(201, 255, 168); }
.puntos-6k { background-color: rgb(242, 255, 135); }
.puntos-5k { background-color: rgb(255, 224, 139); }
.puntos-0k { background-color: rgb(255, 133, 133); }